<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item has-text-danger is-size-3 is-uppercase has-text-weight-semibold">Papudex</a>
    <a role="button" class="navbar-burger has-text-danger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
          <a href="https://github.com/franciscoh017" class="navbar-item has-text-danger is-size-5" target="_blank">
            <span class="icon has-text-danger">
              <i class="fab fa-github"></i>
            </span>
            <span>franciscoh017</span>
          </a>
        </div>
  </div>
</nav>

<router-outlet></router-outlet>