/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

@font-face {
    font-family: Oswald;
    src: url(assets/fonts/Oswald-Medium.ttf) format("opentype");
  }

body {
    font-family: 'Oswald', sans-serif !important;
}

.input {
    font-family: 'Oswald', sans-serif !important;
}